.canvas {

  /* flex: 1 1 auto; */
}

canvas {
  /* width: 640px;
  height: 480px; */
  /* display: block; */
  border: 1px solid black;
}

#canvasesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
